APPENV=
APPPORT=
APPURL=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_SSLMODE=

JWT_SECRET=

SMTP_HOST=smtp.your.com
SMTP_PORT=587
SMTP_USERNAME=your@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=your@gmail.com